

/* 
    General
*/
* {
    font-weight: 500;
}
/* Shipping Bar */
body {
    .shipping-bar__wrapper {
        height: 50px;
    }
    .shipping-bar__item {
        line-height: 14px;
    }
    #shopify-section-shipping_bar .shipping-bar__item svg {
        width: 29.54px;
        height: 24px;
        transform: translate(0);
    }

    .shipping-bar__link {
        display: flex;
        align-items: center;
        font-family: var(--headerFont);
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0;
        text-align: center;
    }
    .shipping-bar__item:nth-of-type(3) .shipping-bar__link {
        justify-content: flex-end;
    }
}

/* Search Bar */
body {
    .header__search__form__wrapper {
        max-width: 46%;
    }
    .header__search__form {
        border: 1px solid #C9C9C9;
        border-radius: 18px;
        border-right: none;
        height: 30px;
        width: 367px;
        margin: auto;
    }
    .header__search__form .header__search__input {
        border: none;
        font-size: 10px;
        line-height: 10px;
        text-transform: capitalize;
        border-radius: 18px;
        padding: 0px 12px;
        height: 100%;
    }
    .header__search__form .button {
        border: 1px solid #000000;
        border-radius: 18px;
        font-weight: 400;
        height: 100%;
        line-height: 14px;
        min-width: 104px;
    }
    .header__search__form .button:hover{
        border: 1px solid #000000;
    }
    /* Cart icon */
    .header__icon__count__wrap .custom-svg {
        border: 1px solid #000000;
        border-radius: 100%;
        width: 31px;
        height: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__icon__wrap svg {
        width: 17px;
    }
    .custom-svg.hasItems {
        background: #000;
    }
    .header__icon__wrap.icon--cart .custom-svg.hasItems svg path {
        fill: #fff;
    }
}

/* Menu */
body {
    .header__item__anchor {
        padding: 0 16px;
        line-height: 16px;
    }
    .header__list.list--parent {
        padding-bottom: 18px;
    } 
}

/* UVP */
body {
    .shipping-text {
        padding: 21px 0 28px;
    }
    .shipping-text .shipping-text-content {
        margin-bottom: 0!important;
    }
    .shipping-text .shipping-text-content svg {
        width: auto!important;
        padding: 0;
        margin: 0 10px;
    }
    .uvp-text-container {
        margin-top: 6px;
    }
    .custom-uvp-section .shipping-body-text {
        font-weight: 400;
        line-height: 120%; 
    }
}

/* Feauted Collection */
body {
    .grid__item-subtitle {
        display: block;
        margin-top: 10px;
        width: 100%;
    }
}

/* Footer */
body {
    .site-footer .wrapper {
        flex-direction: row-reverse;
        max-width: 100%;
        width: 100%;
    }
    .site-footer .wrapper .copyright-class,
    .site-footer .credits p a{
        text-transform: uppercase;
        color: #878787;
    }
    .site-footer .wrapper .half-content {
        width: 27%;
    }
    .custom__info-social-medias a > svg {
        width: 16px;
    }
    .site-footer .wrapper .grid__item .newsletter-klaviyo form .klaviyo_field_group {
        flex: 1 0 50%;
    }
    .half-content.last-half.direction-last-half {
        width: 60%;
    }
    .site-footer .wrapper>div.half-content {
        justify-content: flex-start;
    }
    .site-footer .wrapper .last-half .grid__item {
        width: auto;
        text-align: left;
    }
    .half-content.last-half.direction-last-half {
        gap: 38px;
    }
    .site-footer .wrapper .last-half .nav-title {
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 10px;
    }
    .site-footer .wrapper .popular-collection-links {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }
    .popular_collections_title {
        flex-grow: 1;
        width: 100%;
        display: block;
    }
    .site-footer .wrapper .popular-collection-links a {
        width: 80px;
        height: 92px;
        margin: 17px 19px 0 0;
        padding-top: 92px;
        overflow: hidden;
        text-align: center;
        border: 1px solid var(--popular-collection-background,#333);
    }
    .site-footer .wrapper .popular-collection-links a .popular_collections_text {
        line-height: 17px;
        text-transform: capitalize;
    }
    .site-footer .wrapper .popular-collection-links img {
        top: 7px;
        left: 14px;
        width: 48px;
        height: 62px;
        object-fit: contain;
    }
    .site-footer .wrapper>.half-content:first-child .popular_collections_title,
    .site-footer .wrapper>.half-content:first-child .news_letter_title {
        text-transform: capitalize;
    }
    .site-footer .wrapper>.half-content:first-child .news_letter_title {
        text-align: center;
        margin-bottom: 19px;
    }
    .site-footer .wrapper .grid__item .newsletter-klaviyo form .klaviyo_field_group input {
       height: 28px;
       padding: 0px 12px;
       background: transparent;
       font-size: 10px;
    }
    .newsletter-klaviyo .email-signup-form {
        border: 1px solid #C9C9C9;
        border-radius: 18px;
        border-right: none;
        height: 31px;
    }
    .site-footer .wrapper .grid__item .newsletter-klaviyo form .klaviyo_field_actions button, 
    .site-footer .wrapper .grid__item .newsletter-klaviyo form .klaviyo_form_actions {
        border-radius: 18px;
        flex: 0 0 46%;
        width: 46%;
    }
    .newsletter-klaviyo .email-signup-form .klaviyo_form_actions button {
        border-radius: 18px;
        height: 30px;
        font-size: 10px;
        font-weight: 500;
        line-height: 10px;
    }
    .custom__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 12px 0;
    }
    .custom__info-social-medias {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 502px;
        border-top: 1px solid;
        padding: 15px 0;
        margin-top: 11px;
    }
    .custom__info-social-medias a > svg {
        margin-right: 10px;
    }
    .footer__custom-telephone, 
    .footer__custom-email {
        display: flex;
        align-items: center;
        color: #000;
    }
    .site-footer .credits .wrapper {
        text-align: center;
        display: inline-block;
    }
    .site-footer .credits p {
        width: 100%;
    }
}

/*----------
############
## DESKTOP #
############
----------*/


// Shipping bar
@media screen and (min-width: 768px) {
    body {
        .shipping-bar .wrapper,
        .header__wrapper {
            padding: 0;
            width: 85%;
        }
    }
}

// Header
@media screen and (min-width: 768px) {
    body {
        .header__wrapper {
            padding: 16px 0 19px;
        }
        .header__cart__count {
            width: 15px;
            height: 15px;
            min-width: auto;
            min-height: auto;
            font-size: 10px;
            top: -4px;
            right: -5px;
            text-align: center;
        }
        .header__cart__text {
            position: absolute;
            bottom: -5px;
            right: 2px;
        }
    }
}

/*----------
############
## TABLET ##
############
----------*/

// Shipping bar
@media screen and (max-width: 1019px) {
    body {
        .shipping-bar__wrapper {
            height: 35px;
        }
    }
}

// Featured Collection
@media screen and (max-width: 1019px) {
    body {
        .featured-collection .grid__item-title {
            font-size: 32px;
            line-height: 32px;
        }
        .grid__item-subtitle {
            margin-top: 7px;
        }
        .spr-header-title {
            font-size: 32px;
            line-height: 32px;
        }
        .spr-container a {
            padding: 5.5px 16px;
            font-size: 13px;
            line-height: 20px;
        }
        .spr-review-header-title {
            font-size: 16px;
            line-height: 16px;
            left: 32%;
        }
        .review-date.accent {
            font-size: 10px;
            line-height: 10px;
        }
    }
}

// Header
@media screen and (max-width: 1019px) {
    body {
        .header__wrapper {
            padding: 17px 0 16px;
        }
        .header__search__form__wrapper {
            margin-bottom: 18.45px;
            max-width: 100%;
        }
        .header__icon__wrap {
            width: auto;
            min-height: 45px;
        }
        .header__icon__wrap.icon--cart {
            flex-direction: initial;
            justify-content: flex-end;
        }
        .header__icon__wrap.icon--menu svg {
            width: 30px;
        }
        .header__icon__wrap.icon--menu span {
            margin-top: 7px;
        }
        .header__cart__text {
            bottom: -6px;
        }
        .header__icon__wrap.icon--menu span,
        .header__cart__text {
            font-size: 12px;
        }
        .header__search__form {
            width: 244.67px;
            height: 25px;
        }

        .header__icon__count__wrap .custom-svg {
            width: 25px;
            height: 25px;
        }
        
        .header__icon__wrap svg {
            width: 13.71px;
        }
    }
}

@media screen and (min-width: 1020px) {
    body {
        .header__logo__anchor,
        .header__icon__wrap {
            width: 230px;
        }
        .header__icon__wrap.icon--cart {
            min-height: 57px;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}

// UVP
@media screen and (max-width: 1019px) {
    body {
        .shipping-body-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
        }
        .custom-uvp-section .shipping-body-text {
            font-weight: 400;
            line-height: 87.8%;
        }
    }
}

// Featured Collections
@media screen and (max-width: 1019px) {

    body {
        .featured-collection .grid__item-title {
            font-size: 16px;
            line-height: 16px;
        }
    }
}

// Footer

@media screen and (max-width: 1019px) {
    body {
        .site-footer {
            padding-bottom: 37px;
        }
        .site-footer .wrapper > div.half-content {
            justify-content: flex-start;
            align-items: flex-start;
            align-content: baseline;
            margin: 0;
            gap: 0;
            padding: 0 49px;
        }
        .site-footer .wrapper .half-content {
            gap: 27px;
            margin: auto;
            width: 76%;
        }
        .info__custom-image {
            max-width: 315px;
        }
        .custom__info-social-medias {
            width: 315px;
            padding: 10px 0;
            margin-top: 5px;
        }
        .footer__custom-telephone p, 
        .footer__custom-email p {
            font-size: 14px;
            line-height: 87.8%;
        }
        .site-footer .wrapper .popular-collection-links {
            padding: 0;
        }
        .site-footer .wrapper>.half-content:first-child .popular-collection-links .popular_collections_title {
            margin: 0;
        }
        .site-footer .wrapper>.half-content:first-child .news_letter_title,
        .site-footer .wrapper>.half-content:first-child .popular-collection-links .popular_collections_title {
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
        }
        .site-footer .wrapper>.half-content:first-child .news_letter_title {
            text-align: center;
            margin-bottom: 14px;
        }
        .newsletter-klaviyo.full {
            margin: auto;
            width: 100%;
        }
        .newsletter-klaviyo .email-signup-form,
        .site-footer .wrapper .grid__item .newsletter-klaviyo form .klaviyo_field_group input
         {
            height: 25px;
        }
        .newsletter-klaviyo .email-signup-form .klaviyo_form_actions button {
            font-weight: 400;
            font-size: 14px;
            line-height: 87.8%;
            padding: 6px 8px 6px;
            height: auto;
        }
        .site-footer .wrapper .grid__item .newsletter-klaviyo form .klaviyo_field_actions button, 
        .site-footer .wrapper .grid__item .newsletter-klaviyo form .klaviyo_form_actions {
            flex: 0 0 50%;
        }
        .site-footer .wrapper .popular-collection-links a {
            width: 75px;
            height: 92px;
            margin-top: 4px;
            padding-top: 92px;
        }
        .site-footer .wrapper .popular-collection-links img {
            width: 38px;
            height: 50px;
            left: 17px;
            top: 12px;
        }
        .site-footer .wrapper .popular-collection-links a .popular_collections_text {
            font-size: var(--font-size-pop-itens-footer-mobile);
            line-height: 120%;
            font-weight: 300;
            padding: 2px 0px;
            font-family: 'HelveticaNeueLight';
        }
        .site-footer .wrapper .last-half .grid__item {
            margin-bottom: 15px;
            width: 100%;
        }
        .site-footer .wrapper .last-half .nav-title {
            display: flex;
            justify-content: center;
            text-decoration: none;
            margin: 0;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 120%;
            justify-content: space-between;
        }
        .site-footer .wrapper .last-half .nav-title svg {
            display: block;
            margin: 0 0 0 5px;
            width: 14px;
            height: 16px;
            transition-duration: .3s;
        }
        .site-footer .menu-footer-grid .nav-title.row-rotate svg {
            transform: rotate(180deg);
        }
        .site-footer .wrapper .no-bullets {
            margin-top: 20px;
            text-align: left;
        }
        .site-footer .wrapper .no-bullets .footer-menu-item {
            margin-bottom: 12px;
        }
        .site-footer .wrapper a {
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            color: #6e6e6e;
        }
        .custom__info {
            margin-top: 66px;
            margin-bottom: 22px;
        }
        .custom-icon__minus {
            display: none;
        }
        .site-footer .menu-footer-grid .nav-title.row-rotate > svg {
            display: none;
        }
        .site-footer .menu-footer-grid .nav-title.row-rotate .custom-icon__minus {
            display: block;
        }
        .site-footer .wrapper .copyright-class, 
        .site-footer .wrapper .copyright-class a {
            font-size: 10px;
            line-height: 87.8%;
        }
    }
}


/*----------
############
## MOBILE ##
############
----------*/

// Shipping bar
@media screen and (max-width: 767px) {
    body {
        .shipping-bar__wrapper {
            height: 25px;
        }
    }
}

// Header
@media screen and (max-width: 767px) {
    body {
        .header__wrapper {
            padding: 0 24px;
            min-height: 60px;
        }
        .header__search__form__wrapper {
            margin-top: 0;
            margin-bottom: 14.1px;
        }
        .header__icon__wrap,
        .header__cart__text {
            font-size: 12px;
            line-height: 87.8%;
        }
        .header__search__form {
            width: 183.5px;
            height: 20px;
        }
        .header__logo {
            height: auto;
            min-height: auto;
        }
        .header__icon__wrap.icon--cart {
            flex-direction: column;
        }
        .header__icon__wrap.icon--menu svg {
            margin-bottom: 6px;
            width: 25px;
            height: 10px;
        }
        .icon--cart.custom-svg {
            width: 20px;
            height: 20px;
        }
        .header__icon__wrap.icon--cart svg {
            width: 10.97px;
            height: 11.61px;
        }
        .header__cart__text {
            margin-top: 6px;
        }
        .header__search__form .button {
            min-width: 78px;
        }
    } 
}

// UVP
@media screen and (max-width: 767px) {
    body {
        .uvp-text-container {
            margin-top: 0;
        }
        .shipping-body-text {
            line-height: 100%; 
        }
        .custom-uvp-section .shipping-body-text {
            font-weight: 400;
            font-size: 12px;
            line-height: 87.8%; 
        }
    }
}

// Footer
@media screen and (max-width: 767px) {
    body {
        .site-footer {
            padding: 0;
            max-width: 69%;
            margin: auto;
        }
        .site-footer .wrapper {
            flex-direction: column;
        }
        .site-footer .wrapper > div.half-content {
            margin-top: 23px;
            padding: 0;
        }
        .site-footer .wrapper .half-content {
            width: 100%;
            gap: unset;
        }
        .half-content.last-half.direction-last-half {
            margin-top: 40px;
        }
        .grid__item + .popular-collection-links {
            margin-top: 24px;
        }
        .newsletter-klaviyo .email-signup-form, 
        .site-footer .wrapper .grid__item .newsletter-klaviyo form .klaviyo_field_group input {
            height: 30px;
        }
        .site-footer .wrapper>.half-content:first-child .news_letter_title {
            font-size: 12px;
            line-height: 120%;
        } 
        .site-footer .wrapper > .half-content:first-child .popular-collection-links .popular_collections_title {
            font-size: 12px;
            line-height: 87.8%;
        }
        .site-footer .wrapper .grid__item .newsletter-klaviyo form .klaviyo_field_actions button, 
        .site-footer .wrapper .grid__item .newsletter-klaviyo form .klaviyo_form_actions {
            flex: 0 0 50%;
            width: 50%;  
        }
        .newsletter-klaviyo .email-signup-form .klaviyo_form_actions button {
            border-radius: 18px;
            height: 30px;
            font-size: 12px;
            line-height: 87.8%;
        }
        .site-footer .wrapper>.half-content:first-child .news_letter_title {
            text-align: center;
            margin-bottom: 6px;
        } 
        .site-footer .wrapper>.half-content:first-child .popular-collection-links .popular_collections_title {
            text-align: left;  
        }
        .site-footer .wrapper > .half-content:first-child .popular-collection-links .popular_collections_title {
            margin-bottom: 9px;
        }
        .site-footer .wrapper .popular-collection-links {
            justify-content: space-between;
        }
        .site-footer .wrapper .popular-collection-links img {
            width: 27px;
            height: 35px;
            left: 24px;
            top: 5px;
        }
        .site-footer .wrapper .popular-collection-links a {
            height: 67px;
            margin: 0;
            padding-top: 67px;
        }
        .site-footer .wrapper .last-half .nav-title {
            font-size: 12px;
            line-height: 100%;
        }
        .site-footer .wrapper .popular-collection-links a .popular_collections_text {
            font-size: 10px;
            line-height: 120%;
        }
        .site-footer .wrapper .last-half .grid__item {
            margin-bottom: 19px;
            padding: 0;
        }
        .site-footer .wrapper .no-bullets {
            margin-top: 9px;
        }
        .site-footer .wrapper a {
            font-size: 12px;
            font-weight: 400;
            line-height: 87.8%;
        }
        .site-footer .wrapper .no-bullets .footer-menu-item {
            margin-bottom: 10px;
        }
        .custom__info-social-medias {
            width: 100%;
        }
        .custom__info {
            margin-top: 0;
        }
        .info__custom-image {
            max-width: 257px;
        }
        .footer__custom-telephone p, 
        .footer__custom-email p {
            font-size: 10px;
            line-height: 87.8%;
        }
        .custom__info-social-medias a > svg {
            width: 11.57px;
        }
        .site-footer .credits {
            max-width: 80%;
        }
    }
}
